/* .divdetails{
    background-color: rgb(230, 228, 228);
 } */

.divdetails {
    width: 95%;
    max-width: 900px;
    margin: 50px auto;
    font: 16px Arial, Helvetica, sans-serif;
}

.test_pipe{
    margin-left: 60px;
}

  .header{
    margin-bottom: 50px;
} 

.source {
    color: rgb(138, 138, 138);
    font-size: small;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container {
    display: flex;
    flex-direction: row;
}

.container>div {
    border-radius: 5px;
    padding: 10px;
    background-color: lightblue;
    border: 2px solid rgb(79, 185, 227);
    flex: 1;
}

header {
    margin-bottom: 10px;
}

footer {
    margin-top: 10px;
    
}

section {
    flex: 1;
    order: 0;
}

article {
    flex: 3;
    order: 1;
    padding-left: 20px;
}